

# PLANETSCALE_DB_HOST
DATABASE_URL=
SHADOW_DATABASE_URL=


NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://localhost:3000

# Secret key (generate one here: https://generate-secret.vercel.app/32)
NEXTAUTH_SECRET=1234567890


DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=