@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities; /*ultimo*/



@layer components {
    html,
    body,
    #__next {
        @apply flex flex-col min-h-screen text-gray-800 dark:text-gray-100 bg-gray-50 dark:bg-gray-900;
    }

    body {
        font-family: Inter, Arial, Helvetica, sans-serif;
    }
}

/* width */
::-webkit-scrollbar {
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(90, 90, 90, 0.6);
    cursor: pointer;
}
